body{
    margin:0;
    width: 98.8vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}
a{
    text-decoration: none;
}
.center{
    display: flex;
    justify-content: center;
}
header{
    height: 10vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header a{
    color: white;
}

input{
    width: 25vw;
    height: 3vh;
    border-radius: 10px;
    padding: 6px;
}
button{
    height: 5vh;
    border-radius: 10px;
    padding: 6px;
}
input:focus{
    outline: none;
}

li{
    list-style: none;
}

#hero-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: url('https://wallpapers.com/images/high/4k-marvel-in-space-utp7ze1y513jmlsn.webp');
    background-size: contain;
    background-attachment: fixed;
}

.hero-card{
    width: 20vw;
    height: 30vh;
    background-color: red;
    color: black;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: inset;
    -webkit-box-shadow: 0 0 20px rgb(91, 86, 86);
}
.hero-card a{
    color: black;
}
.hero-card img{
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0 0;
}
.hero-card h2{
    margin: 0;
    display: inline;
}
#search-result{
    width:25.5vw;
    max-height: 25vh;
    background-color: white;
    overflow-y: auto;
    margin: 0;
    position: absolute;
    top: 7.5%;
    left: 38%;
}
.search-result-item{
    height: 9vh;
    width: 100%;
    color: black;
    border-bottom: 1px solid black;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-result-item img{
    width: 20%;
    height: 90%;
    border-radius: 10px;
}
.search-result-item a{
    color: black;
    text-decoration: none;
}
.name-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 30%;
    margin-left: 5%;
}
.fav{
    background-color: white;
}